<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Finie's Simple Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Finie's Map</ion-title>
    </ion-toolbar>
  </ion-header>

     <!-- Tambahkan Dropdown Basemap di sini -->
  <ion-item>
    <ion-label>Pilih Basemap:</ion-label>
    <ion-select (ionChange)="changeBasemap($event)">
      <ion-select-option value="topo-vector">Topographic</ion-select-option>
      <ion-select-option value="streets">Streets</ion-select-option>
      <ion-select-option value="satellite">Satellite</ion-select-option>
      <ion-select-option value="hybrid">Hybrid</ion-select-option>
      <ion-select-option value="terrain">Terrain</ion-select-option>
      <ion-select-option value="dark-gray">Dark Gray</ion-select-option>
      <ion-select-option value="gray">Light Gray</ion-select-option>
      <ion-select-option value="osm">OpenStreetMap</ion-select-option>
    </ion-select>
  </ion-item>


  <div id="container" style="width: 100%; height: 80vh;">
  </div>
</ion-content>
